<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{/fragments/fragment3:: target(~{this::#first},~{this::#second})}">
    <ul id="first">
        <li>완전 딸기 주스</li>
        <li>완전 망고 주스</li>
        <li>완전 포도 주스</li>
        <li>제주 감귤 주스</li>
    </ul>
    <ul id="second">
        <li>티코</li>
        <li>바밤바</li>
        <li>돼지바</li>
        <li>빵빠레</li>
        <li>메로나</li>
    </ul>
</th:block>
</body>
</html>